body {
    /* font-family: 'Stylish', sans-serif !important; */
    /* font-family: 'Yanone Kaffeesatz', sans-serif !important; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

}

.bg-darkblue {
    background: #44238b !important;
    color: #F7F5EB;
}

.bg-lil-white {
        background: #f8f9fa !important;
    /* color: #F7F5EB; */
}
.title {
    color: #44238b;
    padding: 15px;
    font-size: 1.5em;
}
.sub-title {
    font-size: .8em;
}

#login-page {

    height: 100vh;
}

 
input {

    margin-bottom: 15px !important;
    border-radius: 10px !important;
    color: #5507fb;
    padding: 20px !important;


}

#content {
    border: 1px solid #eaeced;
    background: #ffffff;
}


.form-control:focus {
    border-color: #525252 !important;
    box-shadow: 0 0 0 0.1rem #9c9c9c !important;
}

.form-control {
    color: #5507fb !important;
    background-color: #ffffff !important;
    border: 1px solid #525252 !important;

}


::placeholder {
    color: #7c7c7c !important;
line-height: 28.8px;
    font-size: 14px !important;
}



#loginBtn {

    color: #f7f5eb;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #5507fb;
    line-height: 30px;
    font-size: 18px;
     background: linear-gradient(90deg, #44238b, #5100ffe1);
    transition: .1s ease-out;
    height: auto;
    overflow: hidden;
    margin: 0 !important;
}
 


#loginBtn:hover {
    color: #5507fb;
    cursor: pointer;
    background: #f7f5eb;
    border: 1px solid #5507fb;
    transition: .1s ease-out;
    height: auto;
    overflow: hidden;
} 


@media only screen and (max-width:786px) {


    /* input {
        width: 100% !important;
        margin-bottom: 15px !important;
        border-radius: 50px !important;
    } */

  
}