body {
    /* font-family: 'Stylish', sans-serif !important; */
    /* font-family: 'Yanone Kaffeesatz', sans-serif !important; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

}

.bg-darkblue {
    background: #44238b !important;
    color: #F7F5EB;
}

.title {
    color: #44238b;
    padding: 15px;
    font-size: 3em;
}
.sub-title {
    font-size: 1em;
}

#login-page {

    height: 100vh;
}


form {
    width: 25% !important;
}

input {

    margin-bottom: 15px !important;
    border-radius: 10px !important;
    color: #5507fb;
    padding: 25px !important;
    font-size: 24px !important;

}


.form-control:focus {
    border-color: #525252 !important;
    box-shadow: 0 0 0 0.2rem #9c9c9c !important;
}

.form-control {
    color: #5507fb !important;
    background-color: #ffffff !important;
    border: 1px solid #525252 !important;

}


::placeholder {
    color: #525252 !important;
line-height: 28.8px;
    font-size: 18px !important;
}


#loginBtn {

    color: #f7f5eb;
    width: 150px;
    border-radius: 50px;
    border: 1px solid #5507fb;
    line-height: 38.4px;
    font-size: 24px;
     background: linear-gradient(120deg, #44238b, #5100ffe1);
    transition: .1s ease-out;
    height: auto;
    overflow: hidden;
    margin: 0 !important;
}
 


#loginBtn:hover {
    color: #5507fb;
    font-weight: 500;
    cursor: pointer;
    background: #f7f5eb;
    border: 1px solid #5507fb;
    transition: .1s ease-out;
    height: auto;
    overflow: hidden;
}



@media only screen and (max-width:786px) {


    input {
        width: 100% !important;
        margin-bottom: 15px !important;
        border-radius: 50px !important;
    }

    form {
        width: 100% !important;
    }
}
